@charset "utf-8";

#ex_01{width: 1200px;margin: 0 auto;padding: 20px 0;background: #cccccc;}
#ex_01 #t_01{text-align: center;}
#ex_01 #t_01 .cover{font-size: 0;}
#ex_01 #t_01 .cover .box{display: inline-block;vertical-align: middle;width: calc(25% - 20px);margin: 0 10px 20px;padding: 20px;box-shadow: 0 0 4px #aaa;}
#ex_01 #t_01 .cover .box .img_box{height: 200px;margin-bottom: 20px;background-size: cover;background-position: 50%;}
#ex_01 #t_01 .cover .box h4{font-size: 22px;color: #555555;}
#ex_01 #t_01 button{padding:10px 20px;border-radius:4px;border:none;background:#222;color:#fff;font-size:17px;cursor:pointer;}

#ex_02{width: 1200px;margin: 0 auto;padding: 20px 0;background: #cccccc;}
#ex_02 article{}
#ex_02 article .box{}
#ex_02 article .box .top{padding: 20px;background: #aaaaaa;}
#ex_02 article .box .top:after{content: "";display: block;clear: both;}
#ex_02 article .box .top h4{float: left;font-size: 20px;color: #333333;}
#ex_02 article .box .top span{float: right;font-size: 20px;line-height: 1;font-weight: bold;color: #000000;width: 24px;height: 24px;text-align: center;background: #ffffff;border-radius: 50%;cursor: pointer;}
#ex_02 article .box .bottom{display: none;padding: 20px;background: #222222;color: #ffffff;font-size: 17px;}
#ex_02 article .box .bottom p{color: #ffffff;}

#ex_03{}
#ex_03 .cover_03{width: 1200px;margin: 0 auto;background: #cccccc;font-size: 0;}
#ex_03 .cover_03 .box{display: inline-block;vertical-align: middle;width: calc(25% - 20px);margin: 0 10px 20px;padding: 20px;box-shadow: 0 0 4px #aaa;}
#ex_03 .cover_03 .box .img_box{height: 200px;margin-bottom: 20px;background-size: cover;background-position: 50%;}
#ex_03 .cover_03 .box h4{font-size: 22px;color: #555555;}
#ex_03 .dark{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: -1;opacity: 0;transition: opacity 0.5s;}
#ex_03 .dark.active{z-index: 1;opacity: 1;}
#ex_03 .popup{position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 800px;padding: 20px;background: #ffffff;z-index: -1;opacity: 0;transition: opacity 0.5s;}
#ex_03 .popup.active{z-index: 1;opacity: 1;}
#ex_03 .popup .close{position: absolute;top: -40px;right: -36px;font-size: 32px;color: #ffffff;font-weight: bold;cursor: pointer;}
#ex_03 .popup .popup_img{height: 300px;background-size: cover;background-position: 50%;}
#ex_03 .popup h3{padding-top: 20px;font-size: 19px;color: #555555;}

#ex_04{position: relative;}
#ex_04 .slider_cover{width: 100%;height: 400px;overflow: hidden;}
#ex_04 .slider_cover ul{width: 400%;height: 100%;}
#ex_04 .slider_cover ul li{float: left;width: 25%;height: 100%;background-size: cover;background-position: 50%;}
#ex_04 .slider_cover ul .slide_01{background-image: url(../img/slide_01.jpg);}
#ex_04 .slider_cover ul .slide_02{background-image: url(../img/slide_02.jpg);}
#ex_04 .slider_cover ul .slide_03{background-image: url(../img/slide_03.jpg);}
#ex_04 .slider_cover ul .slide_04{background-image: url(../img/slide_04.jpg);}
#ex_04 ol{position: absolute;bottom: 20px;left: 50%;transform: translateX(-50%);font-size: 0;}
#ex_04 ol li{display: inline-block;vertical-align: middle;width: 30px;height: 20px;background: #777777;box-shadow: 1px 1px 2px #000;border-radius: 4px;margin: 0 5px;transition: background 0.5s, box-shadow 0.5s, width 0.5s;}
#ex_04 ol li.active{background: #ffff00;box-shadow: none;width: 60px;}